/*
Tan: #e6e2d3
Traffic white: #f0f0f0
Yellow green: #4caf50
Vermillion red: #c94c4c
Blue: #008cba
*/
* {
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 17px;
}

body {
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee 100%
    ),
    linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}

body,
html {
  width: 100vw;
  height: 100vh;
  align-items: center;
  font-family: "Tangerine", serif;
}

body {
  margin: 5px;
}
.list_content {
  display: flex;
}

form {
  margin: 2.5%;
  padding: 15px;
  width: max-content;

  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);

  box-shadow: 5px 5px 5px 5px #a4a3a3;
  border-radius: 15px;
}

header {
  height: 60px;
  width: 100%;
}

header:hover {
  font-size: 1.6rem;
}
header:active {
  font-size: 1.3rem;
}

#Submit {
  background-color: #2891b4;
  border-radius: 15rem;
  justify-content: space-around;
}

.movbtn {
  background-color: #62a964;
  border-radius: 5px;
  float: right;
  margin-right: 10px;
}
.movbtn:hover {
  font-size: 1.6rem;
}

.movebtn {
  background-color: #62a964;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.movebtn:hover {
  font-size: 1.6rem;
}

.delbtn {
  background-color: #c55d5d;
  border-radius: 5px;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}
.delbtn:hover {
  font-size: 1.6rem;
}

.editbtn {
  background-color: #6bc0dc;
  border-radius: 5px;
  float: right;
  margin-right: 10px;
}
.editbtn:hover {
  font-size: 1.6rem;
}

.input,
#Submit {
  height: 30px;
  line-height: 30px;
  width: auto;
}

ul {
  padding: 3px;
  overflow: hidden;
}
ul li {
  height: 60px;
  line-height: 30px;
  width: 100%;

  text-transform: capitalize;
  justify-content: center;
  background: linear-gradient(to right, #72f0e1, #ddc89d);
}

#pending,
#completed {
  margin: 10px;
  border-radius: 5px;
}

.movbtn svg {
  width: 25px;
  height: 1.1em;
}

.movebtn svg {
  width: 25px;
  height: 1.1em;
}

.editbtn svg {
  width: 25px;
  height: 1.1em;
}

.delbtn svg {
  width: 25px;
  height: 1.1em;
}
